            <ion-side-menus>
                 <ion-side-menu-content>
                      <ion-nav-bar class="bar-dark">
                        <ion-nav-back-button >
                        </ion-nav-back-button>
                        <ion-nav-buttons side="left">
                          <button class="button button-icon button-clear ion-android-menu"    menu-and-drawer-toggle>
                          </button>
                        </ion-nav-buttons>
                      </ion-nav-bar>
                      <ion-pane drawer-menu-content>
                        <ion-nav-view name="menuContent"></ion-nav-view>
                      </ion-pane>
                 </ion-side-menu-content>

                 <drawer side="left">
                    <ion-content  style="background-color: black;">
					 <div  style="height: 180px;width: 100%;background-image:url('img/2.jpg');padding-top: 40px;padding-left: 35px;background-size: cover;">
									 
									  <a href="" style="    text-decoration: none;border:none;">
									  
										  <img class="circle" src="img/sof.jpg" style="border-radius: 50px;height:65px;">
										  <br>
										  <p class="white-text name" style="line-height: 12px;font-size: 20px;color:white;">Karray Soufien</p>
										  <p class="white-text email" style="line-height: 10px;font-size: 14px;color:white;">karraysoufien@gmail.com</p>
									  </a>
					</div>
					<div class="list">

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-ios-home"></i>
							HOME
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-android-clipboard"></i>
							ABOUT US
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-android-call"></i>
								CONTACT US						
								
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-social-github"></i>
							FOLLOW US
						  </a>
						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-ios-home"></i>
							HOME
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-android-clipboard"></i>
							ABOUT US
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-android-call"></i>
								CONTACT US						
								
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-social-github"></i>
							FOLLOW US
						  </a>
						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-ios-home"></i>
							HOME
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-android-clipboard"></i>
							ABOUT US
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-android-call"></i>
								CONTACT US						
								
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-social-github"></i>
							FOLLOW US
						  </a>
						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-ios-home"></i>
							HOME
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-android-clipboard"></i>
							ABOUT US
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-android-call"></i>
								CONTACT US						
								
						  </a>

						  <a class="item item-icon-left" href="#" style="background: transparent ;color: white;border: none;" menu-and-drawer-toggle>
							<i class="icon ion-social-github"></i>
							FOLLOW US
						  </a>

					</div>
                    </ion-content>
                 </drawer>
            </ion-side-menus>